  <!-- HERO SECTION -->
    <section class="hero fade-in-hero" id="hero">
        <div class="container">
            
            <div class="hero-main">
                <!-- LEFT COLUMN: Content -->
                <div class="hero-content">
                    <h1>  <span class="text-gradient">Build The Future <br> 
                       Of Digital <br> Excellence</span>
                    </h1>
                    
                    <p class="hero-desc">
                        We craft cutting-edge software solutions that transform businesses. 
                        From AI-powered platforms to scalable cloud infrastructure, we turn 
                        bold visions into reality.
                    </p>

                    <!-- Service Pills -->
                    <div class="hero-pills">
                        <div class="pill">
                            <i class="fas fa-cloud-upload-alt"></i> <span>Digital Transformation</span>
                        </div>
                        <div class="pill">
                            <i class="fas fa-infinity"></i> <span>SaaS App Development</span>
                        </div>
                        <div class="pill">
                            <i class="fas fa-code"></i> <span>Front & Backend Design</span>
                        </div>
                    </div>
                </div>

                <!-- RIGHT COLUMN: Visuals -->
                <div class="hero-visual">
                    <img src="../assets/hero.svg" alt="Hero Image">
                </div>
            </div>

            <!-- BOTTOM: Trusted By Marquee -->
            <div class="trusted-section">
                <div class="trusted-label">
                    <h3>Trusted By</h3>
                </div>
                <div class="marquee-wrapper">
                    <!-- The track moves left -->
                    <div class="marquee-track">
                        <!-- LOGO GROUP 1 -->
                        <img src="../assets/trusted/binary.png" alt="Logo">
                        <img src="../assets/trusted/django.png" alt="Logo">
                        <img src="../assets/trusted/irabu.png"> <!-- Placeholder -->
                        <img src="../assets/trusted/pycon.png" alt="Irabu">
                        <img src="../assets/trusted/rashal.png" alt="AWS">
                        
                        <!-- DUPLICATE LOGOS (For seamless infinite scroll) -->
                        <img src="../assets/trusted/tis.png" alt="Logo">
                        <img src="../assets/trusted/binary.png" alt="Logo">
                        <img src="../assets/trusted/irabu.png" alt="Rashal">
                        <img src="../assets/trusted/pycon.png" alt="Irabu">
                        <img src="../assets/trusted/django.png" alt="AWS">
                    </div>
                </div>
            </div>

        </div>
    </section>