<nav class="navbar slide-up-fade-in" role="navigation">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">
      <img src="/src/assets/subcodelogo.png" alt="subcode logo" width="140" height="40">
    </a>

    <ul id="primary-navigation" class="navbar-nav" data-visible="false">
      <li><a href="/" class="navbar-link" data-page="home">Home</a></li>
      <li><a href="/src/pages/services.html" class="navbar-link" data-page="services">Services</a></li>
    </ul>

    <a href="/contact" class="navbar-btn navbar-btn-desktop">Get in Touch</a>

    <button class="navbar-toggle" aria-controls="primary-navigation" aria-expanded="false" aria-label="Toggle menu">
      <img src="/src/assets/menu.svg" alt="menu icon" width="24" height="24">
    </button>
  </div>

  <!-- Mobile menu items -->
  <div class="navbar-mobile-menu" id="navbar-mobile-menu" data-visible="false">
    <ul class="navbar-mobile-nav">
    <li><a href="/" class="navbar-link" data-page="home">Home</a></li>
      <li><a href="/src/pages/services.html" class="navbar-link" data-page="services">Services</a></li>
      <li><a href="/contact" class="navbar-btn">Get in Touch</a></li>
    </ul>
  </div>
</nav>
