/* --- Variables --- */
/* --- Section Layout --- */
.sub-hero-section {
    color: var(--text-white);
    display: flex;
    align-items: center;
}

 .sub-hero-section .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 3rem;
    width: 100%;
}

.sub-hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Side-by-side layout */
    gap: 60px;
    align-items: center;
}

/* --- Left Side: Text --- */
.sub-hero-text h2 {
    font-size: var(--h1-large);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;

}

.sub-hero-text .highlight {
        background: linear-gradient(90deg, #fff 5%, #FBBF24 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}

.sub-hero-text p {
    font-size: var(--p1);
    color: #FFFFFFB2;
    line-height: 1.6;
}

/* Buttons */
.action-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 24px;
    font-weight: 400;
    font-size: var(--p1);
    transition: transform 0.2s ease;
    display: inline-block;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn-white {
    background-color: var(--text-primary);
    color: var(--bg-navy-dark);
}

.btn-gold {
    background-color: var(--secondary);
    color: var(--border);
   
}

/* --- Right Side: Image --- */
.sub-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-hero-image img {
    max-width: 100%;
    height: auto;
    /* Optional: Adds a subtle glow to the image if it's a transparent PNG */
    filter: drop-shadow(0 0 20px rgba(251, 191, 36, 0.1)); 
}

/* Optional Floating Animation */


/* --- Responsive (Mobile) --- */
@media (max-width: 767px) {
    .sub-hero-section .container{
        padding: 0;
    }
    .sub-hero-grid {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
        padding-top: 10px;
    }

  

    .action-buttons {
        justify-content: center;


    }
    .action-buttons a{
        font-size: var(--p2);
    }

    .sub-hero-text h2 {
        font-size: var(--h2);
    }
    .sub-hero-text p{
        text-align: justify;
        padding: 0 1rem;

    }
    
    .sub-hero-image img {
        width: 90%;
        height: auto;
    }
}